/* Each box in the gallery */

.row {
  border-style:solid;
  border-color:green;
  text-align:center;
}


.box {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 10px;
  background-color: red;
  border: 1px solid orange;
  text-align: center;
}

/* column specific CSS properties */
.border-0 {
  border-width: 0px;
}
.border-5 {
  border-width: 5px;
}
.border-10 {
  border-width: 10px;
}

.margin-0 {
  margin: 0px;
}
.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}

.padding-0 {
  padding: 0px;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
